aiofiles
aiohttp
aiohttp-cors
beautifulsoup4
yfinance
feedparser
pytz
duckduckgo-search
google-api-python-client
google-auth
google-generativeai
grpcio
jinja2
numpy
nuitka
nvidia-ml-py
opencv-python
opentelemetry-api
pandas
pillow
plotly
prometheus-client
protobuf
psutil
pydantic
pygame
pywin32
requests
rich
scapy
setuptools
tqdm
transformers
torch
peft
datasets
accelerate
